
<!-- partial:index.partial.html -->
<div class="background-container">
  <div class="layer filter">
    <%= yield %>
  </div>
  <div class="layer stars">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="note" style="z-index: 100">
    Click to shift between Sunset and Night.
  </div>
</div>
<!-- partial -->
<script> document.querySelector('.background-container').addEventListener('click', function(){
  this.className = (this.className === 'background-container night' ? 'background-container' : 'background-container night');
}) </script>