<% @user = User.last %>
<% city = @user.city_name.split(",")[0] %>
<% time = @forecast.best_tomorrow_hourly(@user).datetime.strftime("%I:%M %p") %>
<% temp = @forecast.best_tomorrow_hourly(@user).temperature.round %>

<style>
.wizard-step {
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        appearance: none;
    }
</style>

<div style="background-image: linear-gradient(#e66465, #9198e5); padding: 10px; margin: auto;">
  <div class="wizard">
    <div class="wizard-step">
      <h1 style="font-size: 35px;">Weather or Not</h1>
      <h2 style="font-size: 25px;">Hello <%= @user.name %>!</h2>
      <h2>The best time to go out in <%= city %> tomorrow is</h2>
      <p style="font-size: 50px; line-height: 10px !important;"> <%= time %> <%= temp %>°C</p>
    </div>
  </div>
</div>