// Import page-specific CSS files here.
@import "home";


h1, h2, h3, h4, h5, h6, p, a, input, span, label {
  color: white;
}

h1 {
  font-size: 9vw;
}

p {
  font-size:calc(14px + 1.5vw);
  line-height: 60px;
}

label {
  
}

.col a {
  border: 1.5px solid white;
  border-radius: 30px;
  transition: 0.5s ease;
  padding: 5px 20px;
  text-decoration: none;
  margin: auto;
  width: calc(150px + 1.8vw);
  font-size: calc(14px + 1.5vw);
}

.col a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  transition: 0.5s ease;
}

.wizard a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  transition: 0.5s ease;
}

.ap-dataset-places {
  background-color: violet;
}

.login {
  background: linear-gradient(5deg, #2441e6, #020a5f);
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 100vh;
}

input.btn {
  border: 1.5px solid white;
  border-radius: 30px;
  color: white;
  transition: background-color 0.5s ease;
  width: 200px;
}

input.btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s ease;
}

.signin-links a {
  color: rgb(185, 185, 185);
  transition: color 0.5s ease;
}

.signin-links a:hover {
  color: white;
  transition: color 0.5s ease;
  text-decoration: none;
}

a.signup-next:hover {
  background-color: transparent;
}

.signup {
  padding: 0;
}

.freetimes {
  background: linear-gradient(5deg, #2441e6, #020a5f);
  height: 100vh;
  padding: 0;
  margin: auto;
}

.edit-user {
    background: linear-gradient(5deg, #2441e6, #020a5f);
    height: 100%;
    padding: 0;
    margin: 50px;
}