// Import page-specific CSS files here.
@import "home";


h1, h2, h3, h4, h5, h6, p, a {
  color: white;
}

h1 {
  font-size: 9vw;
}

p {
  font-size:calc(14px + 1.5vw);
}



.col a {
  border: 1.5px solid white;
  border-radius: 30px;
  transition: 0.5s ease;
  padding: 5px 20px;
  text-decoration: none;
  margin: auto;
  width: calc(150px + 1.8vw);
  font-size:calc(14px + 1.5vw);
}

.col a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  transition: 0.5s ease;
}

.wizard a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  transition: 0.5s ease;
}

.ap-dataset-places {
  background-color: violet;
}
