
<% if user_signed_in? %>
    <% lat = current_user.latitude %>
    <% lon = current_user.longitude %>
    <% data = Weather.call(lat, lon)%>
    <% tomorrow_forcast = data['daily'][0] %>
    <div>
        <h1>Hello! <%= current_user.name %></h1>
        <h2>Tomorrow Forcast in <%= current_user.city_name %> is: </h2>
        
        <p>It's <%= tomorrow_weather = tomorrow_forcast['weather'][0]['main']%></p>
        
        <%# @forecast.hourlies.each do |hourly| %>
            <p> <%#= hourly.hour %></p>
            <p> <%#= hourly.warm? ? "it's warm" : "it's cold" %></p>
        <%# end %>

        <% standard_temp = 25 %>
        <% weatherArr = [] %>
        <% data['hourly'].each do |d| %>
         <% weatherArr << [(d['temp'] - standard_temp).abs, DateTime.strptime(d['dt'].to_s, '%s')] %>
         <% end %>
        <%= weatherArr %>
        # choose all the hourly temperture to minus standard_temp
        # create a new array to store it
        # convert it to positive number
        <% end %>
        # sort it and get the lowest number
[[1, 20200917 6:00], [-3, 20200917 8:00],.....]

    
    </div>
<% end %>

