
<div class="container-fluid home-container" style="height: 100%">
  <div class="row text-center" style="height: 92vh; width: 100vw;">
    <div class="col m-auto won">
      <h1 style="font-size: calc(40px + 6vw)">Weather or Not</h1>
      <p style="font-size: calc(20px + 1.1vw)">Make the most of your hour outside</p>
      <%= link_to new_user_registration_path, class: "nav_button" do %>
        Get started <span class="fa fa-angle-right"></span>
      <% end  %>
    </div>
  </div>
  <div class="row">
    <div class="col m-auto text-center"  style="height: 100%; padding-bottom: 100px; max-width: 500px">
      <p style="width: 400px; font-size: 36px; margin: auto;">A weather service personalised to you!</p>
      <br/>
      <p style="width: 400px; font-size: 24px; margin: auto; line-height: 55px"> There's nothing to download, just sign up and we will send you the best time to go outside based on your location and availability.</p>
    </div>
  </div>     
</div>



