.nav_button {
    border: none !important;
    background: rgba(255,255,255,0.2);
    padding: 15px;
    font-weight: 2000;
    letter-spacing: 1px;
  }

.won  {
  border: none;
    background: rgba(255,255,255,0.2);
    padding: 15px;
    font-weight: 2000;
    letter-spacing: 1px;
}