// html, body {
//   height: 300vh;
//   width: 100%;
//   margin: 0;
//   padding: 0;
//   background: #eee;
//   display: -webkit-box;
//   display: flex;
//   -webkit-box-pack: center;
//           justify-content: center;
//   -webkit-box-align: center;
//           align-items: center;
//   font-family: Arial, Helvetica, Sans-serif;
//   position: fixed;
// }

.background-container {
  z-index: 1;
  display: -webkit-box;
  display: flex;
  width: 100%;
  background: white;
}
.background-container .layer {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  opacity: 1.0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  line-height: 100%;
  overflow: hidden;
}
.background-container .layer > div.text {
  display: -webkit-box;
  display: flex;
  text-align: center;
  color: white;
  font-size: 36px;
  width: 50%;
  height: 50%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: opacity 1.5s linear, -webkit-transform 4s ease;
  transition: opacity 1.5s linear, -webkit-transform 4s ease;
  transition: transform 4s ease, opacity 1.5s linear;
  transition: transform 4s ease, opacity 1.5s linear, -webkit-transform 4s ease;
}
.background-container .layer.filter {
  background: -webkit-gradient(linear, left bottom, left top, from(violet), to(#048));
  background: linear-gradient(0deg, violet, #048);
}
.background-container .layer.sunset {
  background: -webkit-gradient(linear, left bottom, left top, from(orange), to(blue));
  background: linear-gradient(0deg, orange, blue);
  opacity: 0.5;
}
.background-container .layer.sunset > div {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}
.background-container .layer.nighttime {
  background: -webkit-gradient(linear, left bottom, left top, from(#04A), to(#000));
  background: linear-gradient(0deg, #04A, #000);
  opacity: 0;
}
.background-container .layer.nighttime > div {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}
.background-container .layer.stars {
  opacity: 0.1;
  -webkit-transition: opacity 4s ease, -webkit-transform 4s;
  transition: opacity 4s ease, -webkit-transform 4s;
  transition: opacity 4s ease, transform 4s;
  transition: opacity 4s ease, transform 4s, -webkit-transform 4s;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.background-container .layer.stars > div {
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 0 2px white;
}
.background-container .layer.stars > div:nth-child(1) {
  -webkit-transform: translateX(269px) translateY(291px) scale(0.4285714286);
          transform: translateX(269px) translateY(291px) scale(0.4285714286);
  box-shadow: 0 0 2px white;
  opacity: 0.5;
}
.background-container .layer.stars > div:nth-child(2) {
  -webkit-transform: translateX(1275px) translateY(276px) scale(0.1428571429);
          transform: translateX(1275px) translateY(276px) scale(0.1428571429);
  box-shadow: 0 0 1px white;
  opacity: 0.4;
}
.background-container .layer.stars > div:nth-child(3) {
  -webkit-transform: translateX(47px) translateY(204px) scale(0.7142857143);
          transform: translateX(47px) translateY(204px) scale(0.7142857143);
  box-shadow: 0 0 4px white;
  opacity: 0.4;
}
.background-container .layer.stars > div:nth-child(4) {
  -webkit-transform: translateX(1984px) translateY(316px) scale(1.1428571429);
          transform: translateX(1984px) translateY(316px) scale(1.1428571429);
  box-shadow: 0 0 3px white;
  opacity: 0.5;
}
.background-container .layer.stars > div:nth-child(5) {
  -webkit-transform: translateX(1388px) translateY(176px) scale(0.2857142857);
          transform: translateX(1388px) translateY(176px) scale(0.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.7;
}
.background-container .layer.stars > div:nth-child(6) {
  -webkit-transform: translateX(572px) translateY(77px) scale(0.1428571429);
          transform: translateX(572px) translateY(77px) scale(0.1428571429);
  box-shadow: 0 0 3px white;
  opacity: 0.4;
}
.background-container .layer.stars > div:nth-child(7) {
  -webkit-transform: translateX(1557px) translateY(71px) scale(0.8571428571);
          transform: translateX(1557px) translateY(71px) scale(0.8571428571);
  box-shadow: 0 0 1px white;
  opacity: 0.5;
}
.background-container .layer.stars > div:nth-child(8) {
  -webkit-transform: translateX(1439px) translateY(97px) scale(1.2857142857);
          transform: translateX(1439px) translateY(97px) scale(1.2857142857);
  box-shadow: 0 0 4px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(9) {
  -webkit-transform: translateX(1857px) translateY(23px) scale(0.1428571429);
          transform: translateX(1857px) translateY(23px) scale(0.1428571429);
  box-shadow: 0 0 2px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(10) {
  -webkit-transform: translateX(2186px) translateY(302px) scale(0.2857142857);
          transform: translateX(2186px) translateY(302px) scale(0.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.5;
}
.background-container .layer.stars > div:nth-child(11) {
  -webkit-transform: translateX(101px) translateY(251px) scale(0.8571428571);
          transform: translateX(101px) translateY(251px) scale(0.8571428571);
  box-shadow: 0 0 4px white;
  opacity: 0.7;
}
.background-container .layer.stars > div:nth-child(12) {
  -webkit-transform: translateX(1079px) translateY(143px) scale(0.1428571429);
          transform: translateX(1079px) translateY(143px) scale(0.1428571429);
  box-shadow: 0 0 1px white;
  opacity: 0.1;
}
.background-container .layer.stars > div:nth-child(13) {
  -webkit-transform: translateX(366px) translateY(197px) scale(0.7142857143);
          transform: translateX(366px) translateY(197px) scale(0.7142857143);
  box-shadow: 0 0 3px white;
  opacity: 0.2;
}
.background-container .layer.stars > div:nth-child(14) {
  -webkit-transform: translateX(287px) translateY(79px) scale(1.4285714286);
          transform: translateX(287px) translateY(79px) scale(1.4285714286);
  box-shadow: 0 0 4px white;
  opacity: 0.1;
}
.background-container .layer.stars > div:nth-child(15) {
  -webkit-transform: translateX(1270px) translateY(98px) scale(1.2857142857);
          transform: translateX(1270px) translateY(98px) scale(1.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.8;
}
.background-container .layer.stars > div:nth-child(16) {
  -webkit-transform: translateX(14px) translateY(311px) scale(1);
          transform: translateX(14px) translateY(311px) scale(1);
  box-shadow: 0 0 4px white;
  opacity: 0.4;
}
.background-container .layer.stars > div:nth-child(17) {
  -webkit-transform: translateX(1842px) translateY(329px) scale(1.2857142857);
          transform: translateX(1842px) translateY(329px) scale(1.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.2;
}
.background-container .layer.stars > div:nth-child(18) {
  -webkit-transform: translateX(914px) translateY(241px) scale(0.2857142857);
          transform: translateX(914px) translateY(241px) scale(0.2857142857);
  box-shadow: 0 0 4px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(19) {
  -webkit-transform: translateX(481px) translateY(224px) scale(0.5714285714);
          transform: translateX(481px) translateY(224px) scale(0.5714285714);
  box-shadow: 0 0 3px white;
  opacity: 0.7;
}
.background-container .layer.stars > div:nth-child(20) {
  -webkit-transform: translateX(1426px) translateY(86px) scale(0.7142857143);
          transform: translateX(1426px) translateY(86px) scale(0.7142857143);
  box-shadow: 0 0 3px white;
  opacity: 0.8;
}
.background-container .layer.stars > div:nth-child(21) {
  -webkit-transform: translateX(974px) translateY(152px) scale(0.4285714286);
          transform: translateX(974px) translateY(152px) scale(0.4285714286);
  box-shadow: 0 0 1px white;
  opacity: 1;
}
.background-container .layer.stars > div:nth-child(22) {
  -webkit-transform: translateX(1164px) translateY(375px) scale(1.2857142857);
          transform: translateX(1164px) translateY(375px) scale(1.2857142857);
  box-shadow: 0 0 1px white;
  opacity: 0.8;
}
.background-container .layer.stars > div:nth-child(23) {
  -webkit-transform: translateX(520px) translateY(104px) scale(0.4285714286);
          transform: translateX(520px) translateY(104px) scale(0.4285714286);
  box-shadow: 0 0 1px white;
  opacity: 1;
}
.background-container .layer.stars > div:nth-child(24) {
  -webkit-transform: translateX(2072px) translateY(1px) scale(1.2857142857);
          transform: translateX(2072px) translateY(1px) scale(1.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(25) {
  -webkit-transform: translateX(1951px) translateY(156px) scale(0.2857142857);
          transform: translateX(1951px) translateY(156px) scale(0.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(26) {
  -webkit-transform: translateX(500px) translateY(231px) scale(0.7142857143);
          transform: translateX(500px) translateY(231px) scale(0.7142857143);
  box-shadow: 0 0 1px white;
  opacity: 0.3;
}
.background-container .layer.stars > div:nth-child(27) {
  -webkit-transform: translateX(1784px) translateY(80px) scale(0.1428571429);
          transform: translateX(1784px) translateY(80px) scale(0.1428571429);
  box-shadow: 0 0 3px white;
  opacity: 0.5;
}
.background-container .layer.stars > div:nth-child(28) {
  -webkit-transform: translateX(728px) translateY(315px) scale(1.2857142857);
          transform: translateX(728px) translateY(315px) scale(1.2857142857);
  box-shadow: 0 0 3px white;
  opacity: 0.7;
}
.background-container .layer.stars > div:nth-child(29) {
  -webkit-transform: translateX(227px) translateY(346px) scale(0.7142857143);
          transform: translateX(227px) translateY(346px) scale(0.7142857143);
  box-shadow: 0 0 1px white;
  opacity: 0.7;
}
.background-container .layer.stars > div:nth-child(30) {
  -webkit-transform: translateX(1471px) translateY(64px) scale(1.4285714286);
          transform: translateX(1471px) translateY(64px) scale(1.4285714286);
  box-shadow: 0 0 3px white;
  opacity: 0.3;
}
.background-container .layer.stars > div:nth-child(31) {
  -webkit-transform: translateX(41px) translateY(373px) scale(1.4285714286);
          transform: translateX(41px) translateY(373px) scale(1.4285714286);
  box-shadow: 0 0 2px white;
  opacity: 0.3;
}
.background-container .layer.stars > div:nth-child(32) {
  -webkit-transform: translateX(411px) translateY(292px) scale(0.1428571429);
          transform: translateX(411px) translateY(292px) scale(0.1428571429);
  box-shadow: 0 0 2px white;
  opacity: 0.7;
}
.background-container .layer.stars > div:nth-child(33) {
  -webkit-transform: translateX(341px) translateY(245px) scale(0.7142857143);
          transform: translateX(341px) translateY(245px) scale(0.7142857143);
  box-shadow: 0 0 1px white;
  opacity: 0.3;
}
.background-container .layer.stars > div:nth-child(34) {
  -webkit-transform: translateX(1181px) translateY(52px) scale(1);
          transform: translateX(1181px) translateY(52px) scale(1);
  box-shadow: 0 0 2px white;
  opacity: 0.3;
}
.background-container .layer.stars > div:nth-child(35) {
  -webkit-transform: translateX(2160px) translateY(400px) scale(0.5714285714);
          transform: translateX(2160px) translateY(400px) scale(0.5714285714);
  box-shadow: 0 0 2px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(36) {
  -webkit-transform: translateX(317px) translateY(315px) scale(0.4285714286);
          transform: translateX(317px) translateY(315px) scale(0.4285714286);
  box-shadow: 0 0 3px white;
  opacity: 0.1;
}
.background-container .layer.stars > div:nth-child(37) {
  -webkit-transform: translateX(1865px) translateY(151px) scale(1.1428571429);
          transform: translateX(1865px) translateY(151px) scale(1.1428571429);
  box-shadow: 0 0 4px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(38) {
  -webkit-transform: translateX(353px) translateY(53px) scale(0.5714285714);
          transform: translateX(353px) translateY(53px) scale(0.5714285714);
  box-shadow: 0 0 4px white;
  opacity: 1;
}
.background-container .layer.stars > div:nth-child(39) {
  -webkit-transform: translateX(2072px) translateY(92px) scale(1);
          transform: translateX(2072px) translateY(92px) scale(1);
  box-shadow: 0 0 2px white;
  opacity: 0.5;
}
.background-container .layer.stars > div:nth-child(40) {
  -webkit-transform: translateX(335px) translateY(58px) scale(0.1428571429);
          transform: translateX(335px) translateY(58px) scale(0.1428571429);
  box-shadow: 0 0 3px white;
  opacity: 0.3;
}
.background-container .layer.stars > div:nth-child(41) {
  -webkit-transform: translateX(204px) translateY(98px) scale(1);
          transform: translateX(204px) translateY(98px) scale(1);
  box-shadow: 0 0 1px white;
  opacity: 0.9;
}
.background-container .layer.stars > div:nth-child(42) {
  -webkit-transform: translateX(473px) translateY(389px) scale(0.4285714286);
          transform: translateX(473px) translateY(389px) scale(0.4285714286);
  box-shadow: 0 0 2px white;
  opacity: 0.1;
}
.background-container .layer.stars > div:nth-child(43) {
  -webkit-transform: translateX(2184px) translateY(118px) scale(0.8571428571);
          transform: translateX(2184px) translateY(118px) scale(0.8571428571);
  box-shadow: 0 0 1px white;
  opacity: 0.5;
}
.background-container .layer.stars > div:nth-child(44) {
  -webkit-transform: translateX(1470px) translateY(333px) scale(1.1428571429);
          transform: translateX(1470px) translateY(333px) scale(1.1428571429);
  box-shadow: 0 0 2px white;
  opacity: 0.6;
}
.background-container .layer.stars > div:nth-child(45) {
  -webkit-transform: translateX(33px) translateY(109px) scale(1.1428571429);
          transform: translateX(33px) translateY(109px) scale(1.1428571429);
  box-shadow: 0 0 4px white;
  opacity: 0.9;
}
.background-container .layer.stars > div:nth-child(46) {
  -webkit-transform: translateX(299px) translateY(231px) scale(0.8571428571);
          transform: translateX(299px) translateY(231px) scale(0.8571428571);
  box-shadow: 0 0 3px white;
  opacity: 0.1;
}
.background-container .layer.stars > div:nth-child(47) {
  -webkit-transform: translateX(581px) translateY(269px) scale(0.7142857143);
          transform: translateX(581px) translateY(269px) scale(0.7142857143);
  box-shadow: 0 0 1px white;
  opacity: 1;
}
.background-container .layer.stars > div:nth-child(48) {
  -webkit-transform: translateX(2158px) translateY(18px) scale(0.8571428571);
          transform: translateX(2158px) translateY(18px) scale(0.8571428571);
  box-shadow: 0 0 1px white;
  opacity: 0.9;
}
.background-container .layer.stars > div:nth-child(49) {
  -webkit-transform: translateX(1814px) translateY(16px) scale(0.2857142857);
          transform: translateX(1814px) translateY(16px) scale(0.2857142857);
  box-shadow: 0 0 2px white;
  opacity: 0.4;
}
.background-container .layer.stars > div:nth-child(50) {
  -webkit-transform: translateX(1895px) translateY(41px) scale(1);
          transform: translateX(1895px) translateY(41px) scale(1);
  box-shadow: 0 0 3px white;
  opacity: 0.6;
}
.background-container .note {
  padding: 20px;
  border: solid 1px white;
  width: 33.333%;
  color: white;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 15px;
  left: 33.333%;
  background: rgba(125, 95, 85, 0.4);
  text-shadow: 0 1px 1px black;
  border-radius: 30px;
  -webkit-transition: background 4s ease;
  transition: background 4s ease;
}
.background-container.night .layer:nth-child(2) {
  opacity: 0;
}
.background-container.night .layer:nth-child(2) > div {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.background-container.night .layer:nth-child(3) {
  opacity: 0.8;
}
.background-container.night .layer:nth-child(3) > div {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}
.background-container.night .layer.stars {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 8s ease, -webkit-transform 15s ease;
  transition: opacity 8s ease, -webkit-transform 15s ease;
  transition: opacity 8s ease, transform 15s ease;
  transition: opacity 8s ease, transform 15s ease, -webkit-transform 15s ease;
}
.background-container.night .note {
  background: rgba(100, 100, 122, 0.02);
}