.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(185, 185, 185);
  transition: color 0.5s ease;

}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  transition: color 0.5s ease;
}

ul.navbar-nav a {
  color: rgb(185, 185, 185);
  transition: color 0.5s ease;
}

ul.navbar-nav a:hover {
  color:white;
  transition: color 0.5s ease;
  background: none;
}