.wizard {
    .wizard-step {
        height: 100vh;
        background-color: teal;
        color: white;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .wizard-btn {
        background: none;
        color: white;
        border: none;
        appearance: none;
    }
}